<style>
article, aside, blockquote, dd, details, dl, fieldset, figcaption, figure, footer, form, header, hgroup, legend, nav, ol, p, pre, section, table, ul {
  margin: 0 0 16px;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
.inverted {
  color: rgba(255, 255, 255, 0.7);
}
#member-home-header {
  background: #00455d;
}
#C_pagePreBody {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
  margin-bottom: 44px;
}
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: rgba(0, 0, 0, 0.87);
}
body, html {
  font-size: 16px;
  line-height: 1.45;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga","kern";
  -moz-font-feature-settings: "liga=1, kern=1";
  -ms-font-feature-settings: "liga" 1, "kern" 1;
  -o-font-feature-settings: "liga","kern";
  -webkit-font-feature-settings: "liga","kern";
  font-feature-settings: "liga" 1, "kern" 1;
}
#C_join, #C_page, body, html {
  background-color: #fafafa;
}
#C_join, #C_page {
  min-width: 960px;
}
html #C_page {
  background: #fafafa;
  padding-bottom: 20px;
}
#member-home-bounds {
  padding: 32px 0 48px;
  max-width: 950px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  margin: 0;
  padding: 0 0 8px;
  color: rgba(0, 0, 0, 0.87);
}
.text--display1, .text--display2, .text--display3, h1, h2, h3 {
  stroke: transparent;
  fill: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  letter-spacing: -0.02em;
}
.text--display1, .text--display2, h1, h2 {
  font-size: 34px;
  line-height: 1.25;
}
a, abbr, acronym, code, small, span, strike, strong, sub, sup, time {
  display: inline;
}
.bold, h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
.text--label, .text--labelSecondary {
  stroke: transparent;
  fill: rgba(0, 0, 0, 0.87);
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: -0.02em;
  word-spacing: 0.1em;
}
.inverted h1, .inverted h2, .inverted h3, .inverted h4, .inverted h5, .inverted h6 {
  color: #fff;
}
.inverted .text--display1, .inverted .text--display2, .inverted .text--display3, .inverted h1, .inverted h2, .inverted h3 {
  stroke: transparent;
  fill: #fff;
  color: #fff;
  font-weight: 500;
}
.inverted .text--label, .inverted .text--labelSecondary {
  stroke: transparent;
  fill: #fff;
  color: #fff;
}
.lang_en .text--label, .lang_en .text--labelSecondary {
  text-transform: uppercase;
}
.flush--left {
  margin-left: 0px !important;
  padding-left: 0px !important;
}
a, a:active, a:hover, a:link, a:visited {
  cursor: hand;
  cursor: pointer;
  color: #1f24cc;
  text-decoration: none;
}
b, strong {
  font-weight: 500;
}
a, p, em, span, strong {
  -webkit-animation-duration: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0.1s;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-align: flex;
  box-align: flex;
  -webkit-align-items: flex;
  -ms-align-items: flex;
  align-items: flex;
  -ms-flex-align: flex;
  box-sizing: border-box;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.docSection {
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid transparent;
  padding: 16px 16px 0;
}
.flush--right {
  margin-right: 0px !important;
  padding-right: 0px !important;
}
.inverted .docSection {
  border-top-color: rgba(255, 255, 255, 0.2);
}
#member-home-bounds a {
  text-decoration: none !important;
}
#member-home-bounds .docSection {
  border-top: 1px solid rgba(255,255,255,.7);
}
.row-item {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-flex-basis: 0px;
  flex-basis: 0px;
  -ms-flex-preferred-size: 0;
  box-sizing: border-box;
  width: auto;
  min-width: 0px;
  padding-left: 16px;
}
.padding-right, .paddingRight {
  padding-right: 16px;
}
.margin-right, .marginRight {
  margin-right: 16px;
}
.row-item--shrink {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -ms-flex-positive: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -ms-flex-preferred-size: auto;
  width: initial;
}
:first-child.row-item {
  padding-left: 0px;
}
.span-30 {
  width: 30% !important;
}
#member-home-bounds .heroPrimary {
  color: #fff !important;
}
.svg {
  display: inline-block;
}
#member-home-bounds .heroSecondary {
  color: rgba(255, 255, 255, 0.7) !important;
}
svg {
  position: relative;
}
.logo, .svg-icon {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: bottom;
  font-size: 0px;
}
.svg-icon, .svg-icon svg {
  stroke: transparent;
  fill: inherit;
}
.valign--middle, .valign-middle {
  vertical-align: middle;
}
.inverted .svg-icon, .inverted .svg-icon svg {
  stroke: transparent;
  fill: #fff;
}
#member-home-bounds svg {
  fill: rgba(255, 255, 255, 0.7) !important;
}
.svg-icon use {
  pointer-events: none;
}
</style>